<block-ui>
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="
      min-height: 600px;
      background-image: url(assets/img/theme/profile-cover.jpg);
      background-size: cover;
      background-position: center top;
    "
  >
    <!-- Mask -->
    <span class="mask bg-gradient-warning opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1 class="display-2 text-white">
            <ng-container *ngIf="allowEdit">Hola, </ng-container
            >{{ infoFullUser?.name | titlecase }}
            <ng-container *ngIf="!allowEdit">{{
              infoFullUser?.lastname | titlecase
            }}</ng-container>
          </h1>
          <ng-container *ngIf="infoFullUser?.car !== null">
            <button
              class="btn btn-info"
              [disabled]="!infoFullUser?.workshops.state"
              (click)="openModalService(infoFullUser)"
            >
              Crear Servicio
            </button>
          </ng-container>
          <ng-container *ngIf="infoFullUser?.car !== null">
            <button
              class="btn btn-info"
              *ngIf="infoFullUser?.services.length === 0"
              [disabled]="
                !infoFullUser?.workshops.state ||
                infoFullUser?.services.length === 0
              "
            >
              Ver Servicios
            </button>
            <button
              class="btn btn-info"
              *ngIf="infoFullUser?.services.length > 0"
            >
              Ver Servicios
            </button>
          </ng-container>
          <ng-container *ngIf="infoFullUser?.car === null">
            <button
              class="btn btn-info"
              [disabled]="!infoFullUser?.workshops.state"
              (click)="
                openModalvehicle(null, false, infoFullUser?.identification)
              "
            >
              Asociar Vehículo
            </button>
          </ng-container>
          <ng-container *ngIf="infoFullUser?.car !== null">
            <button
              class="btn btn-warning"
              [disabled]="!infoFullUser?.workshops.state"
              (click)="openModalLicense(null, false, infoFullUser)"
            >
              Agregar licencia
            </button>
          </ng-container>
          <span
            *ngIf="
              !infoFullUser?.workshops.state && userInfo?.role.role === 'ADMIN'
            "
            class="badge badge-default"
            data-toggle="tooltip"
            ngbTooltip="La función se encuentra BLOQUEADA porque el Taller está inactivo. Por favor comuniquese con el ROOT de la plataforma!"
            >Función bloqueada <i class="fas fa-info-circle"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img src="{{ infoFullUser?.avatar }}" class="rounded-circle" />
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          >
            <div class="d-flex justify-content-between">
              <span class="btn btn-sm btn-success mr-5">{{
                infoFullUser?.state ? "Conectado" : "Inactivo"
              }}</span>
              <span class="btn btn-sm btn-default ml-2 float-right">{{
                role
              }}</span>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-between mt-md-5"
                >
                  <div>
                    <span class="heading">{{ servicesCreated }}</span>
                    <span class="description">Creado</span>
                  </div>
                  <div>
                    <span class="heading">{{ servicesActive }}</span>
                    <span class="description">Activo</span>
                  </div>
                  <div>
                    <span class="heading">{{ servicesCompleted }}</span>
                    <span class="description">Completados</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{ infoFullUser?.name | titlecase }}
                {{ infoFullUser?.lastname | titlecase
                }}<span class="font-weight-light"
                  >, {{ age ? age + " años" : "Sin fecha" }}</span
                >
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ infoFullUser?.city }},
                Colombia
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i
                >{{ infoFullUser?.occupation }}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>Registro desde
                {{ createdAt }}
              </div>
              <hr class="my-4" />
              <h6
                class="heading-small text-muted mb-4"
                *ngIf="infoFullUser?.role.role === 'USER'"
              >
                Información Adicional
              </h6>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a href="javascript:void(0)" (click)="openModalPenalty()"
                  >Comparendos</a
                >
              </div>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a href="javascript:void(0)" (click)="openModalOwner()"
                  >Propietarios</a
                >
              </div>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a
                  href="javascript:void(0)"
                  (click)="
                    openModalLicense(infoFullUser?.licenses, true, infoFullUser)
                  "
                  >Licencias</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">{{ allowEdit ? "Mi" : "Su" }} cuenta</h3>
              </div>
              <div class="col-4 text-right" *ngIf="allowEdit">
                <a [routerLink]="['/settings']" class="btn btn-sm btn-primary"
                  >Ajustes</a
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="editForm" novalidate>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Nombres</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Nombres"
                        formControlName="name"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="f.name.hasError('required')"
                      >
                        El nombre es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Apellidos</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Apellidos"
                        formControlName="lastname"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="f.lastname.hasError('required')"
                      >
                        Los apellidos son requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Dirección</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Dirección"
                        formControlName="address"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Ciudad</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        formControlName="city"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Ocupación</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Ocupación"
                        formControlName="occupation"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Fecha de nacimiento</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp"
                          [(ngModel)]="model"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          formControlName="birthdate"
                          [maxDate]="maxDate"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Teléfono</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Teléfono"
                        formControlName="phone"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" *ngIf="!allowEdit">
                      <label class="form-control-label">Estado:</label><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="state"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="!infoFullUser?.state">
                  <div class="alert alert-warning" role="alert">
                    <span class="alert-inner--icon">
                      <i class="fas fa-thumbs-down"></i
                    ></span>
                    <span class="alert-inner--text pl-2"
                      ><strong>Cuidado!</strong> Al inactivar el usuario, éste
                      no podrá ingresar en la plataforma!</span
                    >
                  </div>
                </div>
                <hr class="my-4" />
                <div class="row">
                  <div class="col-lg-12 text-right">
                    <a
                      (click)="edit(infoFullUser?.identification)"
                      class="btn btn-success"
                      >Editar usuario</a
                    >
                  </div>
                </div>
              </div>
            </form>
            <hr class="my-4" *ngIf="infoFullUser?.car === null" />
            <h6
              class="heading-small text-muted mb-4"
              *ngIf="infoFullUser?.car === null"
            >
              Información Automotor
            </h6>
            <div class="pl-lg-4" *ngIf="infoFullUser?.car === null">
              <label>No tiene un automotor asociado</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="padding: 15px"></div>
    <div class="row" *ngIf="infoFullUser?.car !== null">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Información Automotor</h3>
              </div>
              <div class="col-4 text-right" *ngIf="allowEdit">
                <a [routerLink]="['/settings']" class="btn btn-sm btn-primary"
                  >Ajustes</a
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="vehicleForm" novalidate>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Placa</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Placa"
                        formControlName="plate"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Tipo de vehículo</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Tipo de vehículo"
                        formControlName="typeVehicle"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.typeVehicle.hasError('required')"
                      >
                        El tipo de vehículo es requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Marca</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Marca"
                        formControlName="brand"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.brand.hasError('required')"
                      >
                        La marca es requerida *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Línea</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Línea"
                        formControlName="line"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.line.hasError('required')"
                      >
                        La línea es requerida *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Modelo</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Modelo"
                        formControlName="model"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.model.hasError('required')"
                      >
                        El modelo es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Color</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Color"
                        formControlName="color"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.color.hasError('required')"
                      >
                        El color es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Cilindraje</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Cilindraje"
                        formControlName="cylinder"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.cylinder.hasError('required')"
                      >
                        El cilindraje es requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Carrocería</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Carrocería"
                        formControlName="bodywork"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.bodywork.hasError('required')"
                      >
                        La carrocería es requerida *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Tipo de servicio</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Tipo de servicio"
                        formControlName="typeService"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.typeService.hasError('required')"
                      >
                        El tipo de servicio es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Divipola</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Carrocería"
                        formControlName="divipola"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.bodywork.hasError('required')"
                      >
                        La carrocería es requerida *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Peso Bruto Vehicular</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="PBV"
                        formControlName="pbv"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.pbv.hasError('required')"
                      >
                        La peso es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label">Tonelaje</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Tonelaje"
                        formControlName="tonnage"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.tonnage.hasError('required')"
                      >
                        El tonelaje es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Número de ocupantes</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="# ocupantes"
                        formControlName="occupant"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.occupant.hasError('required')"
                      >
                        El # ocupantes es requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label">Número de motor</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Número de motor"
                        formControlName="noMotor"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.noMotor.hasError('required')"
                      >
                        El # motor es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label">Número de chasis</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Número de chasis"
                        formControlName="noChasis"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.noChasis.hasError('required')"
                      >
                        El # chasis es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label">Número de serie</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Número de serie"
                        formControlName="noSerie"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.noSerie.hasError('required')"
                      >
                        El # serie es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label">Número VIN</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Número VIN"
                        formControlName="noVin"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.noVin.hasError('required')"
                      >
                        El # VIN es requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Origen</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Origen"
                        formControlName="countryOrigin"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.countryOrigin.hasError('required')"
                      >
                        El origen es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Agencia de tránsito</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Agencia de tránsito"
                        formControlName="transitAgency"
                        value="Colombia"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.transitAgency.hasError('required')"
                      >
                        La agencia de tránsito es requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Combustible</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Combustible"
                        formControlName="fuel"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.fuel.hasError('required')"
                      >
                        El combustible es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Estado del vehículo RUNT</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Estado RUNT"
                        formControlName="statusVehicle"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Fecha de matrícula</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp1"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          formControlName="enrollmentDate"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                      <span
                        class="badge badge-danger"
                        *ngIf="g.enrollmentDate.hasError('required')"
                      >
                        La fecha de matricula es requerida *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6"></div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Número SOAT</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Número SOAT"
                        formControlName="soatNumber"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="g.soatNumber.hasError('required')"
                      >
                        El # SOAT es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Fecha de expedición</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp2"
                          ngbDatepicker
                          #d2="ngbDatepicker"
                          formControlName="expeditionDateSoat"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d2.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                      <span
                        class="badge badge-danger"
                        *ngIf="g.expeditionDateSoat.hasError('required')"
                      >
                        La fecha de expedición es requerida *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Fecha de vencimiento</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp3"
                          ngbDatepicker
                          #d3="ngbDatepicker"
                          formControlName="dueDateSoat"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d3.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                      <span
                        class="badge badge-danger"
                        *ngIf="g.dueDateSoat.hasError('required')"
                      >
                        La fecha de vencimiento es requerida *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Tiene blindaje?</label
                      ><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="isShielding"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Nivel de blindaje</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Nivel de blindaje"
                        formControlName="levelShielding"
                        [disabled]="!hidden"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Fecha de blindaje</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp4"
                          ngbDatepicker
                          #d4="ngbDatepicker"
                          formControlName="dateShielding"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d4.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Requiere revisión</label
                      ><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="requireTechReview"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label">Revisión técnica</label
                      ><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="techReview"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Estado en plataforma</label
                      ><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="state2"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                  <hr class="my-4" />
                  <div class="row">
                    <div class="col-lg-12 text-right">
                      <a (click)="editVehicle()" class="btn btn-success"
                        >Editar vehículo</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
