<block-ui>
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="
      min-height: 600px;
      background-image: url(assets/img/theme/profile-cover.jpg);
      background-size: cover;
      background-position: center top;
    "
  >
    <!-- Mask -->
    <span class="mask bg-gradient-warning opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1 class="display-2 text-white">
            <ng-container *ngIf="allowEdit">Hola, </ng-container
            >{{ infoFullUser?.name | titlecase }}
            <ng-container *ngIf="!allowEdit">{{
              infoFullUser?.name | titlecase
            }}</ng-container>
          </h1>
          <ng-container *ngIf="infoFullUser?.car !== null">
            <button
              class="btn btn-info"
              [disabled]="!infoFullUser?.workshops.state"
            >
              Crear Servicio
            </button>
          </ng-container>
          <ng-container *ngIf="infoFullUser?.car !== null">
            <button
              class="btn btn-info"
              *ngIf="infoFullUser?.services.length === 0"
              [disabled]="
                !infoFullUser?.workshops.state ||
                infoFullUser?.services.length === 0
              "
            >
              Ver Servicios
            </button>
          </ng-container>
          <ng-container *ngIf="infoFullUser?.car === null">
            <button
              class="btn btn-info"
              [disabled]="!infoFullUser?.workshops.state"
              (click)="
                openModalvehicle(null, false, infoFullUser?.identification)
              "
            >
              Asociar Vehículo
            </button>
          </ng-container>
          <span
            *ngIf="
              !infoFullUser?.workshops.state && userInfo?.role.role === 'ADMIN'
            "
            class="badge badge-default"
            data-toggle="tooltip"
            ngbTooltip="La función se encuentra BLOQUEADA porque el Taller está inactivo. Por favor comuniquese con el ROOT de la plataforma!"
            >Función bloqueada <i class="fas fa-info-circle"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img src="{{ infoFullUser?.avatar }}" class="rounded-circle" />
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          >
            <div class="d-flex justify-content-between">
              <span class="btn btn-sm btn-success mr-5">{{
                infoFullUser?.state ? "Conectado" : "Inactivo"
              }}</span>
              <span class="btn btn-sm btn-default ml-2 float-right">{{
                role
              }}</span>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-between mt-md-5"
                >
                  <div>
                    <span class="heading">{{ servicesCreated }}</span>
                    <span class="description">Creado</span>
                  </div>
                  <div>
                    <span class="heading">{{ servicesActive }}</span>
                    <span class="description">Activo</span>
                  </div>
                  <div>
                    <span class="heading">{{ servicesCompleted }}</span>
                    <span class="description">Completados</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{ infoFullUser?.name | titlecase }}
                {{ infoFullUser?.lastname | titlecase
                }}<span class="font-weight-light"
                  >, {{ age ? age + " años" : "Sin fecha" }}</span
                >
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ infoFullUser?.city }},
                Colombia
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i
                >{{ infoFullUser?.occupation }}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>Registro desde
                {{ createdAt }}
              </div>
              <hr class="my-4" />
              <h6
                class="heading-small text-muted mb-4"
                *ngIf="infoFullUser?.role.role === 'USER'"
              >
                Información Adicional
              </h6>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a href="javascript:void(0)" (click)="openModalPenalty()"
                  >Comparendos</a
                >
              </div>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a href="javascript:void(0)" (click)="openModalOwner()"
                  >Propietarios</a
                >
              </div>
              <div *ngIf="infoFullUser?.role.role === 'USER'">
                Información
                <a
                  href="javascript:void(0)"
                  (click)="
                    openModalLicense(
                      infoFullUser?.licenses,
                      true,
                      infoFullUser?.identification
                    )
                  "
                  >Licencias</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">{{ allowEdit ? "Mi" : "Su" }} cuenta</h3>
              </div>
              <div class="col-4 text-right" *ngIf="allowEdit">
                <a [routerLink]="['/settings']" class="btn btn-sm btn-primary"
                  >Ajustes</a
                >
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="editForm" novalidate>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Nombres</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Nombres"
                        formControlName="name"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="f.name.hasError('required')"
                      >
                        El nombre es requerido *
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Apellidos</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Apellidos"
                        formControlName="lastname"
                      />
                      <span
                        class="badge badge-danger"
                        *ngIf="f.lastname.hasError('required')"
                      >
                        Los apellidos son requerido *
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Dirección</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Dirección"
                        formControlName="address"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Ciudad</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        formControlName="city"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Ocupación</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Ocupación"
                        formControlName="occupation"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label"
                        >Fecha de nacimiento</label
                      ><br />
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp"
                          [(ngModel)]="model"
                          ngbDatepicker
                          #d="ngbDatepicker"
                          formControlName="birthdate"
                          [maxDate]="maxDate"
                          readonly
                        />
                        <button
                          class="btn btn-outline-primary"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Teléfono</label>
                      <input
                        type="text"
                        class="form-control form-control-alternative"
                        placeholder="Teléfono"
                        formControlName="phone"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" *ngIf="!allowEdit">
                      <label class="form-control-label">Estado:</label><br />
                      <label class="custom-toggle">
                        <input
                          type="checkbox"
                          checked=""
                          formControlName="state"
                        />
                        <span
                          class="custom-toggle-slider rounded-circle"
                        ></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="!infoFullUser?.state">
                  <div class="alert alert-warning" role="alert">
                    <span class="alert-inner--icon">
                      <i class="fas fa-thumbs-down"></i
                    ></span>
                    <span class="alert-inner--text pl-2"
                      ><strong>Cuidado!</strong> Al inactivar el usuario, éste
                      no podrá ingresar en la plataforma!</span
                    >
                  </div>
                </div>
                <hr class="my-4" />
                <div class="row">
                  <div class="col-lg-12 text-right">
                    <a
                      (click)="edit(infoFullUser?.identification)"
                      class="btn btn-success"
                      >Editar usuario</a
                    >
                  </div>
                </div>
              </div>
            </form>
            <!-- <form>
              <h6 class="heading-small text-muted mb-4">Información usuario</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Username</label
                      >
                      <input
                        type="text"
                        id="input-username"
                        class="form-control form-control-alternative"
                        placeholder="Username"
                        value="lucky.jesse"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"
                        >Email address</label
                      >
                      <input
                        type="email"
                        id="input-email"
                        class="form-control form-control-alternative"
                        placeholder="jesse@example.com"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name"
                        >First name</label
                      >
                      <input
                        type="text"
                        id="input-first-name"
                        class="form-control form-control-alternative"
                        placeholder="First name"
                        value="Lucky"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name"
                        >Last name</label
                      >
                      <input
                        type="text"
                        id="input-last-name"
                        class="form-control form-control-alternative"
                        placeholder="Last name"
                        value="Jesse"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">
                Información Automotor
              </h6>
              <div class="pl-lg-4">
                <label *ngIf="infoFullUser?.car === null"
                  >No tiene un automotor asociado</label
                >
              </div>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address"
                        >Address</label
                      >
                      <input
                        id="input-address"
                        class="form-control form-control-alternative"
                        placeholder="Home Address"
                        value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city"
                        >City</label
                      >
                      <input
                        type="text"
                        id="input-city"
                        class="form-control form-control-alternative"
                        placeholder="City"
                        value="New York"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country"
                        >Country</label
                      >
                      <input
                        type="text"
                        id="input-country"
                        class="form-control form-control-alternative"
                        placeholder="Country"
                        value="United States"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country"
                        >Postal code</label
                      >
                      <input
                        type="number"
                        id="input-postal-code"
                        class="form-control form-control-alternative"
                        placeholder="Postal code"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
